/*
  Weather Card by /u/_skywalker on Reddit
  Sun Animation by Benedikte on CodePen
*/

@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Lobster);


html, body, div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

body {
    margin: 0;
    padding: 0;
    background: rgba(26, 188, 156, 1.0);
}

.container {
    width: 100%; height: 100%;
    margin: 100px auto;
}
 sun-glow 3s 0s linear infinite;
    -ms-animation: spin 25s linear infinite, sun-glow 3s 0s ease-in-out infinite;
    animation: spin 25s linear infinite,sun-glow 3s 0s linear infinite;

}
#sun{
    stroke-width:18;
    stroke-dasharray:2;
    stroke-dashoffset:2;
    left:2%;
}