/*
  Weather Card by /u/_skywalker on Reddit
  Sun Animation by Benedikte on CodePen
*/

@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Lobster);


html, body, div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

body {
    margin: 0;
    padding: 0;
    background: rgba(26, 188, 156, 1.0);
}

.container {
    width: 100%; height: 100%;
    margin: 100px auto;
}

.card {
    margin: 100px auto;
    background: #fff;
    height: 220px; width: 340px;
    border-radius: 7px;
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.2);
    font-family: 'Open Sans', sans-serif;
}

.city, .date {
    color: black;
    margin-left: 35px;
}

.city {
    padding-top: 50px;
    font-size: 26px;
}
.date {
    font-size: 20px;
    line-height: 40px;
}

.sun {
    position: absolute;
    display: inline;
    width: 150px;
    height: 150px;
    margin-left: 35px;
    background: rgba(241, 196, 15,1.0);
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.temp {
    padding-left: 125px;
    padding-top: 6px;
    font-size: 50px;
    position: fixed;
}

.container-sun{
    text-align:center;
    position: absolute;
    display: inline;
    margin-left: 35px;
}

.svg-sun{
    width:75px;
    height:75px;

    -webkit-transform-origin: center center;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin:50% 50%;

    -webkit-animation: spin 50s linear infinite, sun-glow 5s 0s linear infinite;
    -moz-animation: spin 50s linear infinite, sun-glow 5s 0s linear infinite;
    -o-animation:spin 50s linear infinite, sun-glow 5s 0s linear infinite;
    -ms-animation: spin 50s linear infinite, sun-glow 5s 0s ease-in-out infinite;
    animation: spin 50s linear infinite,sun-glow 5s 0s linear infinite;

}
#sun{
    stroke-width:100;
    stroke-dasharray:1000;
    stroke-dashoffset:2;
}
@-webkit-keyframes sun-glow {
    0% { fill: #f1c40f; stroke:#f1c40f;}
    50% { fill: #e67e22; stroke:#e67e22;}
    100% { fill: #f1c40f; stroke:#f1c40f;}
}
@-moz-keyframes sun-glow {
    0% { fill: #f1c40f; stroke:#f1c40f;}
    50% { fill: #e67e22; stroke:#e67e22;}
    100% { fill: #f1c40f; stroke:#f1c40f;}
}
@-o-keyframes sun-glow {
    0% { fill: #f1c40f; stroke:#f1c40f;}
    50% { fill: #e67e22; stroke:#e67e22;}
    100% { fill: #f1c40f; stroke:#f1c40f;}
}
@-ms-keyframes sun-glow {
    0% { fill: #f1c40f; stroke:#f1c40f;}
    50% { fill: #e67e22; stroke:#e67e22;}
    100% { fill: #f1c40f; stroke:#f1c40f;}
}
@keyframes sun-glow {
    0% { fill: #f1c40f; stroke:#f1c40f;}
    50% { fill: #e67e22; stroke:#e67e22;}
    100% { fill: #f1c40f; stroke:#f1c40f;}
}

@-webkit-keyframes spin{
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes spin{
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-o-keyframes spin{
    100% {
        -o-transform: rotate(360deg);
    }
}
@-ms-keyframes spin{
    100% {
        -ms-transform: rotate(360deg);
    }
}
@keyframes spin{
    100% {
        transform: rotate(360deg);
    }
}

#weblogo {
    font-family: 'Lobster', cursive;
    position: absolute;
    bottom: 3%;
    left:2%;
}